.DS_Store
.vscode/
.idea
insightface_local/
benchmark/
data/drive/*
!data/drive/README.md
data/source/processed
data/source/tracked
data/source/input_videos/*
!data/source/input_videos/README.md
checkpoints/*.pth
datasets/
cache/
logs/
report/
outputs/
submodules/
external/
wandb/
__pycache__/
__pycache__
tmp/
test/
deprecated/
asset/flame/gen_data.npz
asset/flame/FLAME_masks.pkl
asset/flame/flame2023.pkl